<div class='containareon'>

<h2>New Trainer!</h2>
<form action="/trainers" method="post">

  <label>Name: </label>
  <input type="text" name="trainer[name]"><br>

  <label>Level: </label>
  <input type="text" name="trainer[level]"><br>

  <label>Image: </label>
  <input type="text" name="trainer[img_url]"><br>

  <input type="submit" value="Create the Trainer!">
</form>

</div>
